Source: kpackage
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 3.0~),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.37.0~),
               kdoctools-dev (>= 5.25.0~),
               libkf5archive-dev (>= 5.37.0~),
               libkf5config-dev (>= 5.27.0~),
               libkf5coreaddons-dev (>= 5.37.0~),
               libkf5i18n-dev (>= 5.37.0~),
               pkg-kde-tools,
               pkg-kde-tools (>> 0.15.15),
               qtbase5-dev (>= 5.7.0~)
Standards-Version: 4.0.0
Homepage: https://projects.kde.org/projects/frameworks/kpackage
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/frameworks/kpackage.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/frameworks/kpackage.git

Package: kpackagetool5
Section: kde
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: kpackagelauncherqml (<< 5.37),
        libkf5declarative5 (<< 5.37),
        libkf5package5 (<< 5.10),
        libkf5plasma5 (<< 5.37),
        libkf5plasmaquick5 (<< 5.37),
        libkf5quickaddons5 (<< 5.37),
        plasma-framework (<< 5.37)
Replaces: libkf5package5 (<< 5.10)
Description: command line kpackage tool
 KPackage provides classes for applications to manage user installable packages
 of non-binary assets.
 .
 This package is part of KDE Frameworks 5.
 .
 This package contains the runtime package management tool.

Package: libkf5package-dev
Section: libdevel
Architecture: any
Depends: kpackagetool5 (= ${binary:Version}),
         libkf5coreaddons-dev (>= 5.37.0~),
         libkf5package5 (= ${binary:Version}),
         qtbase5-dev (>= 5.7.0~),
         ${misc:Depends}
Description: development files for kpackage
 KPackage provides classes for applications to manage user installable packages
 of non-binary assets.
 .
 This package is part of KDE Frameworks 5.
 .
 This package contains the development files.
Breaks: libkf5declarative-dev (<< 5.37),
        libkf5plasma-dev (<< 5.37),
        plasma-framework-dev (<< 5.28)

Package: libkf5package5
Architecture: any
Multi-Arch: same
Depends: libkf5package-data (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: kpackagetool5 (>= ${binary:Version})
Description: non-binary asset management framework
 KPackage provides classes for applications to manage user installable packages
 of non-binary assets.
 .
 This package is part of KDE Frameworks 5.
Breaks: kpackagelauncherqml (<< 5.37),
        libkf5declarative5 (<< 5.37),
        libkf5plasma5 (<< 5.37),
        libkf5plasmaquick5 (<< 5.37),
        libkf5quickaddons5 (<< 5.37),
        plasma-framework (<< 5.37)

Package: libkf5package-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: libkf5package5 (<< 5.10)
Replaces: libkf5package5 (<< 5.10)
Description: non-binary asset management framework
 KPackage provides classes for applications to manage user installable packages
 of non-binary assets.
 .
 This package contains the translations.
